<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css"
          href="https://assets-cdn.shimo.im/assets/styles/home/home_index-65f711d89c.css">
    <link rel="stylesheet" type="text/css"
          href="http://huaban.com/css/main.css?1491034885.css">
          <script type="text/javascript" src="http://huaban.com/js/views_base.js?1491034888.js"></script>
</head>
<body>
<header class="home-header light" style="left: 0px">
    <div class="home-container">
        <div class="home-header-brand">
            <a href="/" class="home-header-logo text-indent-all">
                <h1 style="length:0;"></h1>
            </a>
        </div>
        <nav class="home-header-nav">
            <ul class="home-nav-bar">
                <li class="home-nav-item">
                    <a class="home-nav-link active" href="/home_feature">表情</a>
                </li>
                <li class="home-nav-item">
                    <a class="home-nav-link " href="/payment">Emoji</a>
                </li>
            </ul>
        </nav>
        <div class="home-header-entries">
            <ul>
                <li class="home-nav-item">
                    <a class="home-button btn-middle login-shimo" href="/login">登录</a>
                </li>
                <li class="home-nav-item">
                    <a class="home-button btn-middle register-shimo" href="/register">免费注册</a>
                </li>

            </ul>
        </div>
    </div>
</header>

<div style="height:100px"></div>

<div id="search_filter" class="search_filter" style="width:80%; margin:0 auto;">
    <div class="block categories" style="height: 41px;">
        <ul>
            <li class="title"><span class="name">分类：</span></li>
            <li><a id="all" href="//huaban.com/search/?q=vip" class="selected">全部<i>33637</i></a></li>
            <li><a id="funny" href="//huaban.com/search/?q=vip&amp;category=funny">搞笑<i>101</i></a></li>
            <li><a id="design" href="//huaban.com/search/?q=vip&amp;category=design">平面<i>13076</i></a></li>
            <li><a id="data_presentation" href="//huaban.com/search/?q=vip&amp;category=data_presentation">数据图<i>100</i></a>
            </li>
            <li><a id="web_app_icon" href="//huaban.com/search/?q=vip&amp;category=web_app_icon">UI/UX<i>3128</i></a>
            </li>
            <li><a id="apparel" href="//huaban.com/search/?q=vip&amp;category=apparel">女装/搭配<i>4069</i></a></li>
            <li><a id="modeling_hair" href="//huaban.com/search/?q=vip&amp;category=modeling_hair">造型/美妆<i>86</i></a>
            </li>
            <li><a id="photography" href="//huaban.com/search/?q=vip&amp;category=photography">摄影<i>919</i></a></li>
            <li><a id="people" href="//huaban.com/search/?q=vip&amp;category=people">明星<i>1198</i></a></li>
            <li><a id="kids" href="//huaban.com/search/?q=vip&amp;category=kids">儿童<i>1170</i></a></li>
            <li><a id="quotes" href="//huaban.com/search/?q=vip&amp;category=quotes">美图<i>65</i></a></li>
            <li><a id="wedding_events" href="//huaban.com/search/?q=vip&amp;category=wedding_events">婚礼<i>526</i></a>
            </li>
            <li><a id="beauty" href="//huaban.com/search/?q=vip&amp;category=beauty">美女<i>696</i></a></li>
            <li><a id="travel_places" href="//huaban.com/search/?q=vip&amp;category=travel_places">旅行<i>625</i></a></li>
            <li><a id="games" href="//huaban.com/search/?q=vip&amp;category=games">游戏<i>570</i></a></li>
            <li><a id="film_music_books" href="//huaban.com/search/?q=vip&amp;category=film_music_books">电影/图书<i>58</i></a>
            </li>
            <li><a id="architecture" href="//huaban.com/search/?q=vip&amp;category=architecture">建筑设计<i>132</i></a></li>
            <li><a id="industrial_design"
                   href="//huaban.com/search/?q=vip&amp;category=industrial_design">工业设计<i>208</i></a></li>
            <li><a id="home" href="//huaban.com/search/?q=vip&amp;category=home">家居/家装<i>437</i></a></li>
            <li><a id="desire" href="//huaban.com/search/?q=vip&amp;category=desire">礼物<i>453</i></a></li>
            <li><a id="illustration" href="//huaban.com/search/?q=vip&amp;category=illustration">插画/漫画<i>463</i></a>
            </li>
            <li><a id="sports" href="//huaban.com/search/?q=vip&amp;category=sports">运动<i>46</i></a></li>
            <li><a id="anime" href="//huaban.com/search/?q=vip&amp;category=anime">动漫<i>75</i></a></li>
            <li><a id="cars_motorcycles" href="//huaban.com/search/?q=vip&amp;category=cars_motorcycles">汽车/摩托<i>127</i></a>
            </li>
            <li><a id="men" href="//huaban.com/search/?q=vip&amp;category=men">男士/风尚<i>64</i></a></li>
            <li><a id="education" href="//huaban.com/search/?q=vip&amp;category=education">教育<i>60</i></a></li>
            <li><a id="tips" href="//huaban.com/search/?q=vip&amp;category=tips">生活百科<i>58</i></a></li>
            <li><a id="art" href="//huaban.com/search/?q=vip&amp;category=art">人文艺术<i>49</i></a></li>
            <li><a id="food_drink" href="//huaban.com/search/?q=vip&amp;category=food_drink">美食<i>45</i></a></li>
            <li><a id="fitness" href="//huaban.com/search/?q=vip&amp;category=fitness">健身/舞蹈<i>38</i></a></li>
            <li><a id="diy_crafts" href="//huaban.com/search/?q=vip&amp;category=diy_crafts">手工/布艺<i>25</i></a></li>
            <li><a id="pets" href="//huaban.com/search/?q=vip&amp;category=pets">宠物<i>17</i></a></li>
            <li><a id="geek" href="//huaban.com/search/?q=vip&amp;category=geek">极客<i>11</i></a></li>
        </ul>
    </div>
</div>

</body>
</html>
